<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section.
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments="./Usercube-Agent.dll" stdoutLogEnabled="true" stdoutLogFile="../Temp/stdout-agent.log" hostingModel="inprocess" forwardWindowsAuthToken="false">
      <environmentVariables>
      </environmentVariables>
    </aspNetCore>
    <security>
      <requestFiltering>
        <!-- Maximum upload file segment size in bytes is 4294967295 (4Gb)-->
        <requestLimits maxAllowedContentLength="4294967295" maxUrl="40960" maxQueryString="20480" />
        <!-- Explicitly add the VERBS that are to be allowed-->
        <verbs applyToWebDAV="true">
          <add verb="GET" allowed="true" />
          <add verb="POST" allowed="true" />
          <add verb="DELETE" allowed="true" />
          <add verb="PUT" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>